[submodule "jni/Il2CppVersions"]
	path = jni/Il2CppVersions
	url = https://github.com/nneonneo/Il2CppVersions
[submodule "jni/imgui"]
	path = jni/imgui
	url = https://github.com/ocornut/imgui
[submodule "jni/xDL"]
	path = jni/xDL
	url = https://github.com/hexhacking/xDL
[submodule "jni/curl"]
	path = jni/curl
	url = https://github.com/curl/curl.git
[submodule "jni/openssl"]
	path = jni/openssl
	url = https://github.com/openssl/openssl.git
[submodule "jni/libpsl"]
	path = jni/libpsl
	url = https://github.com/rockdaboot/libpsl.git
[submodule "jni/json"]
	path = jni/json
	url = https://github.com/nlohmann/json
